<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122768164-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-122768164-1');
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/fontawesome-all.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/gallagher.css"}}" />
    {{ghost_head}}
    <title>{{meta_title}}</title>
  </head>
  <body class="{{body_class}} loading">
    <header>
      {{> "header-nav" }}
    </header>
    {{> "full-screen-nav" }}
    {{{body}}}
    <footer>
      {{> "social-nav" }}
      <div class="copyright">
        <p>Copyright © 2018, Clare Gallagher</p>
        <p>Made by <a href="https://nikovacevic.io/" target="_blank">Niko</a> using <a href="https://ghost.org/" target="_blank">Ghost</a></p>
      </div>
    </footer>
    <script src="{{asset "js/jquery-3.3.1.min.js"}}"></script>
    <script src="{{asset "js/gallagher.js"}}"></script>
    <script src="{{asset "js/infinitescroll.js"}}"></script>
    {{ghost_foot}}
  </body>
</html>
