{{!< default}}
<main class="index">
  {{#if @blog.cover_image}}
    <section class="atf" style="background-image: url({{@blog.cover_image}});"></section>
  {{/if}}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <p class="centered-statement">{{@blog.description}}</p>
          {{#get "posts" slug="home" as |post|}}
            {{#if post}}
              {{#post}}
                <hr style="margin: 36px 0;" />
                <div class="home-content">
                  {{content}}
                </div>
              {{/post}}
            {{/if}}
          {{/get}}
        </div>
      </div>
    </div>
  </section>
  <div id="instagram-feed" class="flex-gallery-container">
    <div class="flex-gallery-item">
      <a href="#" target="_blank">
        <div class="img-container"></div>
        <div class="img-mask">
          <div class="location"></div>
        </div>
      </a>
    </div>
    <div class="flex-gallery-item">
      <a href="#" target="_blank">
        <div class="img-container"></div>
        <div class="img-mask">
          <div class="location"></div>
        </div>
      </a>
    </div>
    <div class="flex-gallery-item">
      <a href="#" target="_blank">
        <div class="img-container"></div>
        <div class="img-mask">
          <div class="location"></div>
        </div>
      </a>
    </div>
    <div class="flex-gallery-item">
      <a href="#" target="_blank">
        <div class="img-container"></div>
        <div class="img-mask">
          <div class="location"></div>
        </div>
      </a>
    </div>
    <div class="flex-gallery-item">
      <a href="#" target="_blank">
        <div class="img-container"></div>
        <div class="img-mask">
          <div class="location"></div>
        </div>
      </a>
    </div>
    <div class="flex-gallery-item">
      <a href="#" target="_blank">
        <div class="img-container"></div>
        <div class="img-mask">
          <div class="location"></div>
        </div>
      </a>
    </div>
    <div class="flex-gallery-item d-none d-md-block">
      <a href="#" target="_blank">
        <div class="img-container"></div>
        <div class="img-mask">
          <div class="location"></div>
        </div>
      </a>
    </div>
    <div class="flex-gallery-item d-none d-md-block">
      <a href="#" target="_blank">
        <div class="img-container"></div>
        <div class="img-mask">
          <div class="location"></div>
        </div>
      </a>
    </div>
  </div>
  <section>
    <div class="container card-container">
      {{#get "posts" limit="4"}}
        {{#foreach posts}}
          {{#if @first}}
            <article class="post-card large">
              <a class="post-card-link" href="{{url}}">
                {{#if feature_image}}
                  <div class="post-card-image" style="height: 240px; border-radius: 4px 4px 0 0; background-image: url({{feature_image}}); background-position: center; background-size: cover;"></div>
                {{/if}}
                <div class="post-card-content">
                  <h2 class="title">{{title}}</h2>
                  <p class="date">{{date dateToFormat format="MMMM D, YYYY"}}</p>
                  <p>{{excerpt words="60"}}...</p>
                </div>
              </a>
            </article>
          {{else}}
            <article class="post-card">
              <a class="post-card-link" href="{{url}}">
                {{#if feature_image}}
                  <div class="post-card-image" style="height: 120px; border-radius: 4px 4px 0 0; background-image: url({{feature_image}}); background-position: center; background-size: cover;"></div>
                {{/if}}
                <div class="post-card-content">
                  <h2 class="title">{{title}}</h2>
                  <p class="date">{{date dateToFormat format="MMMM D, YYYY"}}</p>
                </div>
              </a>
            </article>
          {{/if}}
        {{/foreach}}
      {{/get}}
    </div>
    <p class="text-center" style="margin-top: 30px;">
      <a href="/blog" role="button" class="btn btn-outline-dark">Check out the full blog &raquo;</a>
    </p>
  </section>
  <section class="fixed-image" style="background-image: url('{{asset "images/home/fixed3.jpg"}}');"></section>
  <section class="container partner-logo-container">
    <div class="partner-logo">
      <a href="http://www.patagonia.com/" target="_blank"><img src="{{asset "images/logos/patagonia.png"}}" /></a>
    </div>
    <div class="partner-logo">
      <a href="https://www.lasportiva.com/" target="_blank"><img src="{{asset "images/logos/la-sportiva.png"}}" /></a>
    </div>
    <div class="partner-logo">
      <a href="https://www.petzl.com/" target="_blank"><img src="{{asset "images/logos/petzl.png"}}" /></a>
    </div>
    <div class="partner-logo">
      <a href="https://www.revantoptics.com/" target="_blank"><img src="{{asset "images/logos/revant.png"}}" /></a>
    </div>
  </section>
</main>
<script type="text/javascript" src="{{asset "js/axios.min.js"}}"></script>
<script type="text/javascript">
  ;(function () {
    // Fetch the Instagram feed
    var fetchInstagramFeed = function (cb) {
      var url = "https://api.instagram.com/v1/users/self/media/recent?access_token=24524894.7fb40bb.5a6e64572e7943b681a4c401d03c7799"
      axios.get(url).then(function (response) {
        // Handle errors
        if (response.status != 200) {
          cb(null, "Failed to load Instagram feed.");
          return;
        }

        // Map response into array of image data
        var images = response.data.data.map(function (entry) {
          console.log(entry);
          return {
            href: entry.link,
            url: entry.images.standard_resolution.url,
            location: entry.location ? entry.location.name : ""
          };
        });

        cb(images, null);
      });
    }

    // Populate the Instagram feed element
    var populateInstagramGrid = function (data) {
      var grid = document.getElementById("instagram-feed");
      if (!grid) {
        console.warn("No Instagram feed element in DOM");
        return;
      }

      grid.querySelectorAll(".flex-gallery-item").forEach(function (element, i) {
        element.querySelector("a").setAttribute("href", data[i].href);
        element.querySelector("div.img-container").setAttribute("style", "background-image: url("+data[i].url+")");
        element.querySelector("div.location").innerHTML = data[i].location;
      });
    }

    fetchInstagramFeed(function (data, err) {
      if (err) {
        console.error(err);
        return;
      }
      populateInstagramGrid(data);
    });
  })();
</script>
