{{!< default}}
<main class="index">
  {{#if @blog.cover_image}}
    <section class="atf" style="background-image: url({{@blog.cover_image}});"></section>
  {{/if}}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <p class="centered-statement">{{@blog.description}}</p>
          {{#get "posts" slug="home" as |post|}}
            {{#if post}}
              {{#post}}
                <hr style="margin: 36px 0;" />
                <div class="home-content">
                  {{content}}
                </div>
              {{/post}}
            {{/if}}
          {{/get}}
        </div>
      </div>
    </div>
  </section>
  {{> "instagram-grid" }}
  <section>
    <div class="container card-container">
      {{#get "posts" limit="4"}}
        {{#foreach posts}}
          {{#if @first}}
            <article class="post-card large">
              <a class="post-card-link" href="{{url}}">
                {{#if feature_image}}
                  <div class="post-card-image" style="background-image: url({{feature_image}});"></div>
                {{/if}}
                <div class="post-card-content">
                  <h2 class="title">{{title}}</h2>
                  <p class="date">{{date dateToFormat format="MMMM D, YYYY"}}</p>
                  <p>{{excerpt words="60"}}...</p>
                </div>
              </a>
            </article>
          {{else}}
            <div class="card-wrapper">
              {{> "post-card" }}
            </div>
          {{/if}}
        {{/foreach}}
      {{/get}}
    </div>
    <p class="text-center" style="margin-top: 30px;">
      <a href="/blog" role="button" class="btn btn-outline-dark">Check out the full blog &raquo;</a>
    </p>
  </section>
  <section class="fixed-image" style="background-image: url('{{asset "images/home/fixed3.jpg"}}');"></section>
  {{> "partners" }}
</main>
