{{!< default}}
<main class="index">
  {{#if @blog.cover_image}}
    <section class="atf" style="background-image: url({{@blog.cover_image}});"></section>
  {{/if}}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <p class="centered-statement">{{@blog.description}}</p>
          {{#get "posts" slug="home" as |post|}}
            {{#if post}}
              {{#post}}
                <hr/>
                <div class="home-content">
                  {{content}}
                </div>
                <style media="screen">
                  .home-content p { text-align: left; }
                </style>
              {{/post}}
            {{/if}}
          {{/get}}
        </div>
      </div>
    </div>
  </section>
  <div class="flex-gallery-container" style="margin: 30px 0;">
    <div class="flex-gallery-item">
      <a href="#">
        <img src="{{asset "images/instagram/insta1.png"}}" alt="">
      </a>
    </div>
    <div class="flex-gallery-item">
      <a href="#">
        <img src="{{asset "images/instagram/insta2.png"}}" alt="">
      </a>
    </div>
    <div class="flex-gallery-item">
      <a href="#">
        <img src="{{asset "images/instagram/insta3.png"}}" alt="">
      </a>
    </div>
    <div class="flex-gallery-item">
      <a href="#">
        <img src="{{asset "images/instagram/insta4.png"}}" alt="">
      </a>
    </div>
    <div class="flex-gallery-item">
      <a href="#">
        <img src="{{asset "images/instagram/insta5.png"}}" alt="">
      </a>
    </div>
    <div class="flex-gallery-item">
      <a href="#">
        <img src="{{asset "images/instagram/insta6.png"}}" alt="">
      </a>
    </div>
    <div class="flex-gallery-item d-none d-md-block">
      <a href="#">
        <img src="{{asset "images/instagram/insta7.png"}}" alt="">
      </a>
    </div>
    <div class="flex-gallery-item d-none d-md-block">
      <a href="#">
        <img src="{{asset "images/instagram/insta8.png"}}" alt="">
      </a>
    </div>
  </div>
  <section>
    <div class="container card-container">
      {{#get "posts" limit="4"}}
        {{#foreach posts}}
          {{#if @first}}
            <article class="post-card large">
              <a class="post-card-link" href="{{url}}">
                {{#if feature_image}}
                  <div class="post-card-image" style="height: 240px; border-radius: 4px 4px 0 0; background-image: url({{feature_image}}); background-position: center; background-size: cover;"></div>
                {{/if}}
                <div class="post-card-content">
                  <h2 class="title">{{title}}</h2>
                  <p class="date">{{date dateToFormat format="MMMM D, YYYY"}}</p>
                  <p>{{excerpt words="60"}}...</p>
                </div>
              </a>
            </article>
          {{else}}
            <article class="post-card">
              <a class="post-card-link" href="{{url}}">
                {{#if feature_image}}
                  <div class="post-card-image" style="height: 120px; border-radius: 4px 4px 0 0; background-image: url({{feature_image}}); background-position: center; background-size: cover;"></div>
                {{/if}}
                <div class="post-card-content">
                  <h2 class="title">{{title}}</h2>
                  <p class="date">{{date dateToFormat format="MMMM D, YYYY"}}</p>
                </div>
              </a>
            </article>
          {{/if}}
        {{/foreach}}
      {{/get}}
    </div>
    <p class="text-center">
      <a href="/blog" role="button" class="btn btn-outline-dark">Check out the full blog &raquo;</a>
    </p>
  </section>
  <section class="fixed-image" style="background-image: url('{{asset "images/home/fixed3.jpg"}}');"></section>
  <section class="container partner-logo-container">
    <div class="partner-logo">
      <a href="#" target="_blank"><img src="{{asset "images/logos/patagonia.png"}}" /></a>
    </div>
    <div class="partner-logo">
      <a href="#" target="_blank"><img src="{{asset "images/logos/la-sportiva.png"}}" /></a>
    </div>
    <div class="partner-logo">
      <a href="#" target="_blank"><img src="{{asset "images/logos/petzl.png"}}" /></a>
    </div>
    <div class="partner-logo">
      <a href="#" target="_blank"><img src="{{asset "images/logos/revant.png"}}" /></a>
    </div>
    <div class="partner-logo">
      <a href="#" target="_blank"><img src="{{asset "images/logos/honey-stinger.png"}}" /></a>
    </div>
  </section>
</main>
