{{!< default}}
{{#post}}
<main class="blog">
  {{#get "posts" slug="blog" as |post|}}
    {{#if post}}
      {{#post}}
        <div class="blog-content">
          {{content}}
        </div>
      {{/post}}
    {{/if}}
  {{/get}}
  {{#get "posts" limit="10"}}
    <div class="container card-container flex-grow">
      {{#foreach posts}}
        {{#if @first}}
          <article class="post-card large">
            <a class="post-card-link" href="{{url}}">
              {{#if feature_image}}
                <div class="post-card-image" style="background-image: url({{feature_image}});"></div>
              {{/if}}
              <div class="post-card-content">
                <h2 class="title">{{title}}</h2>
                <p class="date">{{date format="MMMM D, YYYY"}}</p>
                <p>{{excerpt words="60"}}...</p>
              </div>
            </a>
          </article>
        {{else}}
          <div class="card-wrapper">
            {{> "post-card" }}
          </div>
        {{/if}}
      {{/foreach}}
    </div>
  {{/get}}
  {{> "partners" }}
</main>
{{/post}}
