{{!< default}}
{{#post}}
  <main class="post">
    {{#if feature_image}}
      <figure class="post-full-image" style="
        background-image: url({{feature_image}});
        background-size: cover;
        background-position: center;
        height: 500px;
        width: 100vw;"
      >
      </figure>
    {{/if}}
    <div class="container post-container {{#unless feature_image}}no-image{{/unless}}">
      <article class="post {{post_class}}">
        <h1 class="title" style="text-align: center; margin: 0.4em 0;">{{title}}</h1>
        <section class="meta" style="text-align: center; margin: 0.6em 0; text-transform: uppercase;">
          <time class="date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM D, YYYY"}}</time>
        </section>
        <section class="content">
          {{content}}
        </section>
      </article>
    </div>
  </main>
  <div class="container">
    <aside class="next-prev">
        {{#prev_post}}
          <div class="prev-post">
            <div class="prev-post-card-container">
              <article style="flex: 1 1 auto;" class="post-card">
                {{#if feature_image}}
                    <a class="post-card-image-link" href="{{url}}">
                        <div class="post-card-image" style="background-image: url({{feature_image}})"></div>
                    </a>
                {{/if}}
                <a class="post-card-link" href="{{url}}" style="display: flex; flex-flow: column; justify-content: space-evenly;">
                  <h2 class="title">{{title}}</h2>
                  <p class="date">{{date dateToFormat format="MMMM DD, YYYY"}}</p>
                </a>
              </article>
            </div>
            <div class="prev-arrow"><i class="fas fa-chevron-left"></i> PREV</div>
          </div>
        {{/prev_post}}
        {{#next_post}}
          <div class="next-post">
            <div class="next-post-card-container">
              <article style="flex: 1 1 auto;" class="post-card">
                {{#if feature_image}}
                    <a class="post-card-image-link" href="{{url}}">
                        <div class="post-card-image" style="background-image: url({{feature_image}})"></div>
                    </a>
                {{/if}}
                <a class="post-card-link" href="{{url}}" style="display: flex; flex-flow: column; justify-content: space-evenly;">
                  <h2 class="title">{{title}}</h2>
                  <p class="date">{{date dateToFormat format="MMMM DD, YYYY"}}</p>
                </a>
              </article>
            </div>
            <div class="next-arrow">NEXT <i class="fas fa-chevron-right"></i></div>
          </div>
        {{/next_post}}
    </aside>
  </div>
{{/post}}
